#![enable(implicit_some)]
Container(
    transform: (
        id: "pause_menu",
        anchor: Middle,
        stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: true),

        // here the z-value is relevant to get shown `in front of' the other UI elements
        z: 2.0,

        width: 2000.0,
        height: 2000.0,
    ),
    background: SolidColor(0.0, 0.0, 0.0, 0.5),
    children: [
        Button(
            transform: (
                id: "resume",
                x: 0.0,
                y: 50.0,

                // because of the container, the button will react
                // `before' the elements below it,
                // but we also want to fully draw this button
                // in front of the other elements as well.
                z: 2.0,

                width: 200.0,
                height: 40.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Resume",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 30.0,
                normal_image: Texture(File("ui/grey_button14.png", ("IMAGE", ()))),
                hover_image: Texture(File("ui/red_button13.png", ("IMAGE", ()))),
                press_image: Texture(File("ui/red_button13.png", ("IMAGE", ()))),
                normal_text_color: (0.1, 0.1, 0.1, 1.0),
                hover_text_color: (0.9, 0.9, 0.9, 1.0),
                press_text_color: (0.9, 0.9, 0.9, 1.0),
            )
        ),
        Button(
            transform: (
                id: "main_menu",
                x: 0.0,
                y: 0.0,

                // because of the container, the button will react
                // `before' the elements below it,
                // but we also want to fully draw this button
                // in front of the other elements as well.
                z: 2.0,

                width: 200.0,
                height: 40.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Main Menu",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 30.0,
                normal_image: Texture(File("ui/grey_button14.png", ("IMAGE", ()))),
                hover_image: Texture(File("ui/red_button13.png", ("IMAGE", ()))),
                press_image: Texture(File("ui/red_button13.png", ("IMAGE", ()))),
                normal_text_color: (0.1, 0.1, 0.1, 1.0),
                hover_text_color: (0.9, 0.9, 0.9, 1.0),
                press_text_color: (0.9, 0.9, 0.9, 1.0),
            )
        ),
        Button(
            transform: (
                id: "quit",
                x: 0.0,
                y: -50.0,

                // because of the container, the button will react
                // `before' the elements below it,
                // but we also want to fully draw this button
                // in front of the other elements as well.
                z: 2.0,

                width: 200.0,
                height: 40.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Quit",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 30.0,
                normal_image: Texture(File("ui/grey_button14.png", ("IMAGE", ()))),
                hover_image: Texture(File("ui/red_button13.png", ("IMAGE", ()))),
                press_image: Texture(File("ui/red_button13.png", ("IMAGE", ()))),
                normal_text_color: (0.1, 0.1, 0.1, 1.0),
                hover_text_color: (0.9, 0.9, 0.9, 1.0),
                press_text_color: (0.9, 0.9, 0.9, 1.0),
            )
        ),
    ]
)
